/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.app-container {
  background-color: #000000;
  color: #ECB921;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

header, footer {
  background-color: #ECB921;
  color: #000000;
  padding: 20px;
  width: 100%;
  text-align: center;
}

section {
  background-color: #000000;
  color: #ECB921;
  padding: 20px;
  margin: 10px 0;
  width: 80%;
  border: 2px solid #ECB921;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

section h2 {
  color: #ECB921;
}

section:hover {
  transform: scale(1.05);
}

.section-hover {
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

section:hover .section-hover::after {
  opacity: 1;
  transform: scale(1.5);
}

@media (max-width: 768px) {
  section {
    width: 100%;
  }
}
